.tarefas { margin-top: 30px; }

.tarefas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: .4s;
}

.tarefas li span {
    display: flex;
    align-items: center;
}

.tarefas li:hover {
    background: #ccc;
}

.tarefas li .edit {
    margin-right: 15px;
    cursor: pointer;
    color: rgb(40, 165, 238);
}

.tarefas li .delete {
    cursor: pointer;
    color: rgb(245, 84, 84);
}